
header
{
    background:#2c3e50 ;
    color: #fff;
}

.main
{
    background: #f2f2f2;
    
}

.color1
{
    background: skyblue;
    color: #fff;
}

.color2
{
    background: peachpuff;
    color: #000;
}

aside
{
    background: #c0392b;
    color: #fff;
}

footer
{
    background: blue;
    color: #fff;
}





